// Override default variables before the import
$body-bg: rgb(248, 249, 251);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


div.noPadding {
    padding-left: 0;
    padding-right: 0;
}

div.noMargin {
    margin-left: 0;
    margin-right: 0;
}
